
.navbar-custom {
	background-color: rgba(10, 10, 10, .9);
	border: 0;
	border-radius: 0;
	z-index: 1000;
	font-family: "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 11px;
	-webkit-transition: background, padding 0.4s ease-in-out 0s;
	-moz-transition: background, padding 0.4s ease-in-out 0s;
	-ms-transition: background, padding 0.4s ease-in-out 0s;
	-o-transition: background, padding 0.4s ease-in-out 0s;
	transition: background, padding 0.4s ease-in-out 0s;
	padding-bottom: 0px;
	padding-top: 0px;
	min-height: 50px;
	
	cursor: pointer;
	
}

.navbar a {
	-webkit-transition: color 0.125s ease-in-out 0s;
	-moz-transition: color 0.125s ease-in-out 0s;
	-ms-transition: color 0.125s ease-in-out 0s;
	-o-transition: color 0.125s ease-in-out 0s;
	transition: color 0.125s ease-in-out 0s;
}

.navbar-custom .dropdown-menu {
	background: rgba(26, 26, 26, .9);
	border-radius: 0;
	border: 0;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	
}

.navbar-custom .navbar-brand {
	letter-spacing: 4px;
	font-weight: 400;
	font-size: 22px;
	color: #fff;
}

.navbar-custom  li.nav-item > a.nav-link {
	position: relative;
	color: rgba(255, 255, 255, .7);
	padding-top: 13px;
	padding-bottom: 13px;
	padding-right: 15px;
}

.navbar-custom .dropdown-menu > li > a {
	border-bottom: 1px solid rgba(73, 71, 71, 0.15) !important;
	padding: 11px 15px;
	letter-spacing: 2px;
	color: #999;
	
}


.navbar-custom .dropdown-menu .dropdown-menu {
	border-left: 1px solid rgba(73, 71, 71, 0.15);
	left: 100%;
	right: auto;
	top: 0;
	margin-top: 0;
	
}

.navbar-custom .dropdown-menu.left-side .dropdown-menu {
	border: 0;
	border-right: 1px solid rgba(73, 71, 71, 0.15);
	right: 100%;
	left: auto;
}

.navbar-custom > li > a:focus,
.navbar-custom  > li > a:hover,
.navbar-custom  .open > a,
.navbar-custom  .open > a:focus,
.navbar-custom  .open > a:hover,
.navbar-custom .dropdown-menu > li > a:focus,
.navbar-custom .dropdown-menu > li > a:hover {
	background: none;
	color: #fff;
	
}
.navbar-custom .dropdown-menu > li > a:hover {
	background: rgba(255, 255, 255, .1) !important;	
}
.navbar-custom  .open > a.dropdown-item{
	background: rgba(255, 255, 255, .1) !important;
	color: #fff;
	
}
.navbar-custom  .open > a.nav-link,
.navbar-custom  .open > a.nav-link:focus,
.navbar-custom  .open > a.nav-link:hover
{
	color: #fff !important;	
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #fff;
}

.dropdown-menu {
	min-width: 180px;
	font-size: 11px;
}

.navbar-custom .navbar-toggler .fa.fa-navicon {

	color:#fff;
	
}

.navbar-custom .dropdown-toggle:after {
	border: none!important;
	font: normal normal normal 10px/1 FontAwesome;
	content: "\f107"!important; /* the desired FontAwesome icon */
	vertical-align: 0; /* to center vertically */
	position: absolute;
	display: block;
	right: 0;
	top: 50%;
	margin-top: -6px;
		
}
.navbar-toggler {
	outline: 0 !important;
  }
.navbar-nav{
.collapsing  {
	transition: none !important;
  }
}

@media (max-width: 767px) {
	.navbar-nav {
	/* Optional - You can set a  min-height : whatever px; for reserving some space*/
	max-height: 400px;
	max-width: auto;
	/* Fix a height here */
	overflow-x: hidden;
	overflow-y: auto;
	 }
	 .navbar-custom .dropdown-menu > li > a{
	position: relative;	
	background-color: inherit;
	padding-left: 25px;	
}
.navbar-custom .dropdown-menu > li > .dropdown-menu > li > a  {
	position: relative;	
	padding-left: 40px;
}
.navbar-custom .dropdown-menu  {
	background-color: inherit;
}
.navbar {
	padding: 0px;
}
.container{
	padding-right: 0px;
padding-left: 0px;
}
.navbar-custom li.nav-item > a.nav-link:hover,
.navbar-custom li.nav-item > a.nav-link:focus {  
    color: #fff;
}

}


/* Navbar search

.dropdown-search {
	position: relative;
	padding: 5px;
}

.dropdown-search .form-control {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 11px;
}

.search-btn {
	position: absolute;
	background: transparent;
	border: none;
	overflow: hidden;
	top: 50%;
	right: 1px;
	width: 42px;
	height: 40px;
	line-height: 38px;
	font-size: 14px;
	outline: none;
	color: #999;
	margin-top: -20px;
}*/


